/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Header {
    background-color: white;
    border-bottom: 1px solid $color-light-grey;
    box-shadow: none;
    color: $color-black;
    height: 60px;
    margin-bottom: 40px;
    justify-content: start;
    padding: 0 40px;
    a {
        font-size: 21px;
        font-weight: 700;
    }
}

[dir=ltr] .Header-button {
  margin-left: -3rem;
  border: 0 none;
}

[dir=rtl] .Header-button {
  margin-right: -3rem;
  border: 0 none;
}

.Header-Utils {
    align-items: center;
    display: flex;
    a {
        margin-left: 30px;
        svg path { transition: fill 0.15s ease-out; }
        &:hover svg path { fill: $color-grey; }
    }
}
